<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Gallery Test App</title>
    
    <link rel="stylesheet" href="{{STATIC_URL}}style/main.css" type="text/css" />
    <link type="text/css" href="{{STATIC_URL}}style/ui-darkness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
	<script type="text/javascript" src="{{STATIC_URL}}script/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}script/base.js"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="banner">Gallery Test App</div>
        <ul id="menu" style="">
          <li>
            <a href="{% url home %}">Home</a>
          </li>
          {% if user.is_authenticated %}
            {% if user.is_superuser %}
              <li>
                <a href="{% url admin:index %}">Admin</a>
              </li>
            {% endif %}
            <li>
              <a href="{% url logout %}">Logout</a>
            </li>
            <li>
            	<a href="{% url my_galleries %}">My Galleries</a>
            </li>
            <li>
            	<a href="{% url create_gallery %}">Create Gallery</a>
            </li>
          {% else %}
            <li>
              <a href="{% url login %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>